* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.header {
    background-image: linear-gradient(90deg, #005FAC 0%, rgba(88, 117, 141, 0) 100%), url('../images/banner/banner4.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    padding-left: 230px;
}

.main-title {
    font-weight: 700;
    font-size: 65px;
    max-width: 525px;
    padding-top: 216px;

}

.main-description {
    font-size: 20px;
    max-width: 500px;
    margin-top: 25px;
}

.primary-btn {
    border: 0;
    border-radius: 10px;
    font-weight: 500;
    font-size: 25px;
    color: #6361ff;
    padding: 18px 25px;
    margin-top: 25px;
    margin-bottom: 60px;
    background-color: #ffffff;
}

/* Here start failures section style */
.failure {
    display: flex;
    gap: 80px;
    margin-top: 130px;
    margin-left: 200px;
}

.my-failure {
    margin-top: 30px;
    max-width: 400px;
    font-size: 16px;
    display: block;
    /* color: #444343; */
}

.section-title {
    margin-top: 200px;
    font-weight: 700;
    font-size: 40px;
}

.failure-description {
    font-size: 18px;
    color: #444343;
    margin-top: 30px;
}

.failure-list {
    font-size: 18px;
    color: #444343;
    margin-top: 20px;
    padding: 22px;
    list-style-image: url(../images/icons/check-mark.png);
}

/* Here start plan style */


.my-plan {
    margin: 0 240px;
    text-align: center;
}

.dream {
    display: flex;
    gap: 80px;
    margin-top: 40px;
}

.dream-sub {
    box-shadow: 10px 5px 5px rgb(167, 167, 167);
    background-color: #ffe9e9;
    border: 0;
    border-radius: 5px;
}

.dream img {
    padding-top: 30px;
}

.dream-title {
    font-weight: 700;
    font-size: 30px;
    padding-top: 20px;
}

.dream-description {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
    margin-top: 20px;
    width: 250px;
}

/* Here start call now section */
.call-now {
    margin: 130px 230px;
    background-image: linear-gradient(to right, rgb(48, 48, 255), rgba(0, 0, 255, 0)), url('../images/watch.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px;
    border-radius: 10px;
}

.call-now-title {
    font-weight: 700;
    font-size: 40px;
    color: #ffffff;
    padding-bottom: 10px;

}